#suggestions {
  position: absolute;
  background: var(--color-white);
  top: var(--size-50);
  left: var(--size-280);
  margin: var(--size-0) var(--size-5);
  width: calc(var(--width-full) - var(--size-570));
  max-height: var(--size-42-dvh);
  overflow-y: auto;
  z-index: var(--z-index-999);
  display: none;
  box-shadow: var(--box-shadow-normal);
}

#suggestions::-webkit-scrollbar {
  width: var(--width-null);
}

.suggestion-item {
  padding: var(--size-14);
  font-size: var(--size-14);
  font-weight: var(--font-300);
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

/* ======= Artikel CSS / Isi Konten =======*/
#konten {
  font-weight: var(--font-400);
  margin-bottom: var(--size-55);
  line-height: var(--line-1-5);
}

#konten h1 {
  font-size: var(--size-24);
}

#konten img {
  min-height: var(--size-160);
}

#konten h2 {
  font-size: var(--size-20);
}

#konten p,
#konten a,
#konten ul {
  font-size: var(--size-16);
}

#konten ul {
  padding-inline-start: var(--size-30);
}


#konten ul li {
  /* background-color: aqua; */
  padding-bottom: var(--size-10);
}

#konten ul li ul {
  /* background-color: red; */
  padding-top: var(--size-10);
}

.menukonten a {
  display: none;
  font-weight: var(--font-600);
  margin-bottom: var(--size-20);
  margin-top: var(--size-10);
}

.post-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-10);
}

.post-pagination-item {
  padding: var(--size-10) var(--size-12);
  background-color: var(--color-white);
  font-size: var(--size-14);
  border: none;
  border-radius: var(--size-10);
  cursor: pointer;
  transition: var(--transition-normal);
}

.post-pagination-item:hover {
  color: var(--color-black);
  box-shadow: var(--box-shadow-normal);
}

.post-pagination-item-home {
  font-weight: var(--font-600);
}

#scrollBtn {
  background-color: var(--color-white);
  font-size: var(--size-16);
  font-weight: var(--font-600);
  display: none;
  position: fixed;
  bottom: var(--size-20);
  right: var(--size-20);
  z-index: var(--z-index-999);
  border: none;
  border-radius: var(--size-10);
  cursor: pointer;
  transition: var(--transition-normal);
  box-shadow: var(--box-shadow-normal);
}

#konten img {
  max-width: var(--width-full);
  max-height: var(--width-full);
  border-radius: var(--size-10);
}

.source-code-konten {
  display: block;
  font-family: var(--font-fira-code);
  font-weight: var(--font-300);
  padding: var(--size-0);
  width: calc(var(--width-full) - var(--size-40));
  white-space: nowrap;
  list-style: none;
  overflow-x: scroll;
}

.source-code-konten::-webkit-scrollbar {
  width: var(--width-null);
}

@media (max-width: 1200px) {
  #suggestions {
    left: var(--size-100);
    width: calc(var(--width-full) - var(--size-210));
  }
}

@media (max-width: 976px) {
  #suggestions {
    left: var(--size-50);
    width: calc(var(--width-full) - var(--size-110));
  }

  .burger {
    padding: var(--size-5);
  }
}

@media (max-width: 657px) {
  #suggestions {
    left: var(--size-10);
    width: calc(var(--width-full) - var(--size-30));
  }
}

@media (max-width: 567px) {
  #konten h1 {
    font-size: var(--size-24);
  }

  #konten h2 {
    font-size: var(--size-16);
  }

  #konten p,
  #konten a,
  #konten ul,
  .source-code-konten {
    font-size: var(--size-14);
  }
}

@media (max-width: 360px) {
  .post-pagination {
    flex-direction: column;
  }
}
